@import "../font/font.css";
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
iframe,
ol,
ul,
li,
form,
label,
i,
footer,
header,
menu,
nav,
a,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
video,
canvas,
section,
/*commonly used tags*/
applet,
object,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
hgroup,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
dl,
dt,
dd,
fieldset,
legend,
article,
aside,
details,
embed,
figure,
figcaption,
output,
section,
summary,
time,
mark,
audio,
center,
ruby {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    position: relative;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    outline: none !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    cursor: pointer;
}

input,
button,
select {
    display: inline-block;
    padding: 0;
    border: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
img {
    max-width: 100%;
}
body {
    background: rgba(31, 29, 46, 1);
    font-family: 'Inter';

}
.container{
    max-width: 1188px;
    width: 100%;
    margin: 0 auto;
    padding: 0 14px;
}








.G-flex {
    display: flex;
}

.G-inline-flex {
    display: inline-flex;
}

.G-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.G-justify-center {
    justify-content: center;
    display: flex;
}

.G-justify-between {
    justify-content: space-between;
    display: flex;
}

.G-justify-around {
    justify-content: space-around;
    display: flex;
}

.G-justify-end {
    justify-content: flex-end;
    display: flex;
}

.G-align-center {
    align-items: center;
    display: flex;
}

.G-align-start {
    align-items: flex-start;
    display: flex;
}

.G-align-end {
    align-items: flex-end;
    display: flex;
}

.G-flex-column {
    flex-direction: column;
    display: flex;
}

.G-flex-wrap {
    flex-wrap: wrap;
    display: flex;
}










@charset "UTF-8";

.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    font-size: 18px;
    background-color: #000;
    transition: 0.3s;

}


.icon.icon-telegram {
    mask-image: url(../img/icons/telegram.svg);
    -webkit-mask-image: url(../img/icons/telegram.svg);
}

.icon.icon-arrow-right {
    mask-image: url(../img/icons/arrow-right.svg);
    -webkit-mask-image: url(../img/icons/arrow-right.svg);
    background-color: rgba(31, 29, 46, 1);
    font-size: 20px;

}


.icon-time{
    content: url("../img/icons/time.svg");
}

.icon-wallet{
    content: url("../img/icons/wallet.svg");
}
.icon-diamond{
    content: url("../img/icons/diamond.png");
}
.icon-check{
    content: url("../img/icons/check.png");
}
.icon-text{
    content: url("../img/icons/text.png");
}
.icon-smil{
    content: url("../img/icons/smil.png");
}
.icon-star{
    content: url("../img/icons/star.png");
}
.icon-fier{
    content: url("../img/icons/fier.png");
}
.icon-heart{
    content: url("../img/icons/heart.png");
}
.icon-heart-red{
    content: url("../img/icons/red-heart.png");
}
.icon-lamp{
    content: url("../img/icons/lamp.png");
}


.icon-glob{
    content: url("../img/icons/glob.png");
}


.icon-dance{
    content: url("../img/icons/dance.png");
}

.icon-dosc{
    content: url("../img/icons/dosc.png");
}

.icon-layer{
    content: url("../img/icons/layer.svg");
}
.emoji-sad{
    content: url("../img/icons/emoji-sad.svg");
}
.icon-flag{
    content: url("../img/icons/flag.svg");
}
.icon-unlimited{
    content: url("../img/icons/unlimited.svg");
}
.icon-signpost{
    content: url("../img/icons/signpost.svg");
}
.icon-chart{
    content: url("../img/icons/chart.svg");
}
.icon-heart-white{
    content: url("../img/icons/heart-white.png");
}